@page "/products/details"
@using Microsoft.EntityFrameworkCore
@using CrudOprUsingBlazor.Models
@inject IDbContextFactory<CrudOprUsingBlazor.Data.MyAppDB> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Product</h2>
    <hr />
    @if (product is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">name</dt>
            <dd class="col-sm-10">@product.name</dd>
            <dt class="col-sm-2">price</dt>
            <dd class="col-sm-10">@product.price</dd>
            <dt class="col-sm-2">Qty</dt>
            <dd class="col-sm-10">@product.Qty</dd>
        </dl>
        <div>
            <a href="@($"/products/edit?id={product.id}")">Edit</a> |
            <a href="@($"/products")" class="btn btn-outline-secondary">Back to List</a>
        </div>
    }
</div>

@code {
    private Product? product;

    [SupplyParameterFromQuery]
    private int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        product = await context.Product.FirstOrDefaultAsync(m => m.id == id);

        if (product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
